extend admin_main

block content
  h1= "Student Password Reset"
  form(method='POST', action='')
    label(for='name') Student name
      input(type='search', id='name', name='name', value=name)
    label(for='surname') Surname
    input(type='search', id='surname', name='surname', value=surname)
    button(type='submit') Find
