doctype html
html(lang='en')
  head
    title= Admin
    meta(charset=útf-8)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav
      ul
        li  
          a(href='lesson/create') Create lesson
        li 
          a(href='lesson/delete') Delete lesson
        li 
          a(href='student/signup') Signup student
        li 
          a(href='student/remove') Remove student
        li 
          a(href='student/book-lesson') Book student lesson
        li 
          a(href='student/cancel-lesson') Cancel student lesson
        li 
          a(href='student/password-reset') Student password reset

    block content
