doctype html
html(lang='en')
  head
    title= Admin
    meta(charset=útf-8)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav
      ul
        li Link

    block content
