doctype html
html(lang='en')
  head
    title="Three steps DanceSchool || Login" 
    meta(charset=utf-8)
    meta(name='viewport', content='width=device-width, intial-state=1')
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    h1= "Three Steps DanceSchool "
    h2= "Please log in"

    form(method='POST', action='')
      label(for='username') Username
      input(type='search', id='username', name='username')
      label(for='password') Password
      input(type='password', id='password', name='password')
      button(type='submit') Login

