extend student_main

block content
  main
    h1= "Update password"
    if username
      form(method='POST', action='')
        label(for='username') Username
        input(type='search', id='username', name='username', value=username, readonly=true)
        label(for='old_password') Old password
        input(type='password', id='old_password', name='old_password')
        label(for='new_password') New Password
        input(type='password', id='new_password', name='new_password')
        button(type='submit') Update
    else 
      form(method='POST', action='')
        label(for='username') Username
        input(type='search', id='username', name='username')
        button(type='submit') Find
