extend student_main

block content
  main
    h1= "Update password"
    
    if message
      p #{message.text}

    form(method='POST', action='')
      label(for='old_password') Old password
      input(type='password', id='old_password', name='old_password')
      label(for='new_password') New Password
      input(type='password', id='new_password', name='new_password')
      button(type='submit') Update
