a{
  text-decoration: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 25vw;
  margin-top: 25vh;
  display: flex;
}

button{
  margin: 1em;
  width: 5em;
  height: 2em;
}

h1{
  margin-top: 2em;
  margin-bottom: 2em;
}

input{
  margin: 1em
}

label{
  margin-right: 0.3em;
  margin-left: 0.3em
}

li{
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: none;
}

nav{
  border-right: solid 2px black;
  max-width: 10em;
}

main{
  margin-left: 3em;
}
